/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';  */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* Ensure backdrop overlay works correctly */
.modal-backdrop {
  z-index: 1040 !important; /* Higher than modal */
}

/* Ensure the modal content is always on top */
.modal-content {
  z-index: 1050 !important; /* Higher than the backdrop */
}
