<div class="container my-5">
  <h2 class="text-center mb-4">Employees</h2>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Loop over employees -->
    <div class="col mb-4" *ngFor="let employee of employees">
      <div class="card shadow-sm border-light rounded">
        <div class="card-body">
          <h5 class="card-title text-truncate" style="max-width: 200px;">{{ employee.name }}</h5>
          <p class="card-text text-muted">{{ employee.jobTitle }}</p>
          <ul class="list-unstyled">
            <li><strong>Email:</strong> {{ employee.email }}</li>
            <li><strong>Phone:</strong> {{ employee.phoneNumber }}</li>
            <li><strong>Start Date:</strong> {{ employee.startDate | date: 'yyyy-MM-dd' }}</li>
          </ul>
          <a [routerLink]="['/employee', employee.id]" class="btn btn-primary w-100">View Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>