<div class="container my-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <!-- Button to open the Add Employee modal -->
    <button (click)="openAddEmployeeModal()" class="btn btn-primary">
      Add Employee
    </button>

    <h2 class="mb-4 flex-grow-1 text-center">Employees</h2>
  </div>

  <div *ngIf="paginationResponse">
    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <app-paging-header [pageNumber]="paginationResponse.currentPage" [pageSize]="paginationResponse.pageSize"
          [totalCount]="paginationResponse.totalCount">
        </app-paging-header>

        <div class="form-inline mt-2">
          <input class="form-control mr-2" (keyup)="onSearch()" [(ngModel)]="searchString" style="width:300px;"
            placeholder="Search" type="text" />
          <button class="btn btn-outline-primary my-2" (click)="onSearch()">Search</button>
          <button class="btn btn-outline-success ml-2 my-2" (click)="onReset()">Reset</button>
        </div>
      </div>
    </section>

    <!-- Employees cards -->
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col mb-4" *ngFor="let employee of paginationResponse?.items">
        <div class="card shadow-sm border-light rounded employee-card">
          <div class="card-body">
            <h5 class="card-title text-truncate" style="max-width: 200px;">
              {{ employee.name }}
            </h5>
            <p class="card-text text-muted">{{ employee.jobTitle }}</p>
            <ul class="list-unstyled">
              <li><strong>Email:</strong> {{ employee.email }}</li>
              <li><strong>Phone:</strong> {{ employee.phoneNumber }}</li>
              <li><strong>Start Date:</strong> {{ employee.startDate | date: 'yyyy-MM-dd' }}</li>
            </ul>
            <a [routerLink]="['/employee', employee.id]" class="btn btn-primary w-100">
              View Profile
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Pager -->
    <div class="d-flex justify-content-center" *ngIf="paginationResponse.totalCount > 0">
      <app-pager [pageSize]="paginationResponse.pageSize" [totalCount]="paginationResponse.totalCount"
        (pageChanged)="onPageChanged($event)">
      </app-pager>
    </div>
  </div>
</div>