<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-lg border-light rounded" *ngIf="employeeDTO">
        <form [formGroup]="employeeForm" (ngSubmit)="saveChanges()">
          <div class="card-body">

            <!-- Employee Picture Section -->
            <div class="text-center">
              <img *ngIf="employeeDTO?.employeeFiles?.[0]?.filePath" [src]="employeeDTO.employeeFiles?.[0]?.filePath"
                class="card-img-top" alt="Profile Picture" style="max-width: 300px; margin: 0 auto;">
              <div *ngIf="isEditMode">
                <label for="picture" class="btn btn-outline-primary mt-3">
                  <i class="fas fa-upload"></i> Upload New Picture
                </label>
                <input id="picture" type="file" (change)="onFileSelected($event)" class="d-none" />
                <div *ngIf="previewUrl" class="mt-3">
                  <img [src]="previewUrl" alt="Preview" style="max-width: 200px;" />
                </div>
              </div>
            </div>

            <!-- Other form fields -->
            <h2 class="card-title text-center">
              <span *ngIf="!isEditMode">{{ employeeDTO.name }}</span>
              <input *ngIf="isEditMode" formControlName="name" class="form-control" />
            </h2>
            <p class="card-text text-center text-muted">
              <span *ngIf="!isEditMode">{{ employeeDTO.jobTitle }}</span>
              <input *ngIf="isEditMode" formControlName="jobTitle" class="form-control" />
            </p>

            <!-- Start of the form fields section -->
            <div class="row">
              <!-- Left Column -->
              <div class="col-md-6">
                <div class="list-group">
                  <li class="list-group-item">
                    <strong class="mr-2">Email:</strong>
                    <span *ngIf="!isEditMode">{{ employeeDTO.email }}</span>
                    <input *ngIf="isEditMode" formControlName="email" class="form-control" />
                  </li>
                  <li class="list-group-item">
                    <strong class="mr-2">Phone:</strong>
                    <span *ngIf="!isEditMode">{{ employeeDTO.phoneNumber }}</span>
                    <input *ngIf="isEditMode" formControlName="phoneNumber" class="form-control" />
                  </li>
                  <li class="list-group-item">
                    <strong class="mr-2">Birth Date:</strong>
                    <span *ngIf="!isEditMode">{{ employeeDTO.dateOfBirth | date: 'yyyy-MM-dd' }}</span>
                    <input *ngIf="isEditMode" formControlName="dateOfBirth" type="date" class="form-control" />
                  </li>
                </div>
              </div>

              <!-- Right Column -->
              <div class="col-md-6">
                <div class="list-group">
                  <li class="list-group-item">
                    <strong class="mr-2">Start Date:</strong>
                    <span *ngIf="!isEditMode">{{ employeeDTO.startDate | date: 'yyyy-MM-dd' }}</span>
                    <input *ngIf="isEditMode" formControlName="startDate" type="date" class="form-control" />
                  </li>
                  <li class="list-group-item">
                    <strong class="mr-2">End Date:</strong>
                    <span *ngIf="!isEditMode">{{ employeeDTO.endDate | date: 'yyyy-MM-dd' }}</span>
                    <input *ngIf="isEditMode" formControlName="endDate" type="date" class="form-control" />
                  </li>
                  <li class="list-group-item">
                    <strong class="mr-2">Salary:</strong>
                    <span *ngIf="!isEditMode">{{ employeeDTO.salary }}</span>
                    <input *ngIf="isEditMode" formControlName="salary" class="form-control" />
                  </li>
                </div>
              </div>
            </div>
            <!-- End of the form fields section -->

            <!-- Action Buttons -->
            <div class="d-flex justify-content-between mt-3">
              <a *ngIf="!isEditMode" (click)="isEditMode = true" class="btn btn-primary">Edit</a>
              <button *ngIf="isEditMode" type="submit" class="btn btn-success">Save</button>
              <a [routerLink]="['/employee']" class="btn btn-secondary">Back to Employees List</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>